@font-face {
	font-family: 'Icon Font';
	src: url("../font/icon_font/icomoon.woff") format("woff"), url("../font/icon_font/icomoon.svg") format("svg"), url("../font/icon_font/icomoon.eot") format("eot"), url("../font/icon_font/icomoon.ttf") format("ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

@import url('../css/normalize_null.css');

$md1: 1198.98;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$maxWidth: 1440;

* {
    font-family: 'Montserrat', sans-serif;
}
button, a {
    cursor: pointer;
}
html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    background: rgba(255, 255, 255, 1);
}
.wrapper {
    min-height: 100%;
    max-width: $maxWidth;
    min-width: 280px;
    margin: 0 auto;
    overflow: hidden;
}
.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
    flex-direction: column;
    z-index: 1;
}
.content {
	display: flex;
	flex-direction: column;
}
.container {
    margin: 0 auto;
    &_hf {
        max-width: 100%;
        padding: 0 4.3%;
    }
    &_t {
        max-width: 100%;
        padding: 0 8.3%;
    }
    &_m {
        max-width: 1200px;
        padding: 0 5.8%;
    }
}
.icon {
    font-family: 'Icon Font';
    color: rgba(31,36,49,1);
    font-size: 24px;
    transition: color .3s ease-in 0s;
    &:hover {
        color: rgba(49,94,251,1);
    }
}
.text {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: rgba(130, 137, 155, 1);
    span {
        font-weight: 500;
        color: rgba(31, 36, 49, 1);
    }
}

@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 280; //320 - наименьшее разрешение
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 280px) / #{$maxWidth}));
}
//==================================================================================
.header {
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    .container_hf {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__left {
        display: flex;
        align-items: center;
    }
    &__logo {
        flex: 0 0 120.71px;
        margin: 0 35px 0 0;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
        }
    }
    &__menu {
    }
    &__burger {
    }
    &__right {
    }
    &__iconbar {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__icon {
        margin: 0 10px 0 0;
    }
}
.menu-header {
    &__body {
    }
    &__list {
        display: flex;
        align-items: center;
        padding: 0;
    }
    &__link {
        font-size: 16px;
        line-height: 20px;
        color: rgba(31, 36, 49, 1);
        margin: 0 35px 0 0;
        transition: color .3s ease-in 0s;
        &:hover {
            color: rgba(49,94,251,1);
        }
    }
}
//==================================================================================
.top {
    flex: 1 0 100%;
    padding: 140px 0 40px 0;
    .container_t {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    // .top__content

    &__content {
        flex: 0 1 46.5%;
    }

    // .top__title

    &__title {
        @include adaptiv-font(36, 16); //в скобках размеры шрифта для крайних разрешений
        font-weight: bold;
        line-height: 130%;
        color: rgba(31, 36, 49, 1);
        margin: 0 0 22px 0;
    }

    // .top__text

    &__text {
        max-width: 251px;
        margin: 0 0 25px 0;
    }

    // .top__link

    &__link {
        height: 40px;
        width: 215px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 1);
        background: rgba(49, 94, 251, 1);
        border-radius: 51px;
        transition: background .3s ease-in 0s;
        &:hover {
            background: rgba(40,188,0,1);
        }
    }

    // .top__pic

    &__pic {
        flex: 0 1 53.5%;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
        }
    }
}
//==================================================================================
