@font-face {
	font-family: 'Icon Font';
	src: url("../font/icon_font/icomoon.woff") format("woff"), url("../font/icon_font/icomoon.svg") format("svg"), url("../font/icon_font/icomoon.eot") format("eot"), url("../font/icon_font/icomoon.ttf") format("ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

@import url('../css/normalize_null.css');

$md1: 1198.98;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

* {
    font-family: 'Montserrat', sans-serif;
}

button, a {
    cursor: pointer;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    background: rgba(255, 255, 255, 1);
}

.wrapper {
    min-height: 100%;
    max-width: 1440px;
    min-width: 280px;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    max-width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

.icon {
    font-family: 'Icon Font';
    color: rgba(31,36,49,1);
    font-size: 24px;
    transition: color .3s ease-in 0s;
    &:hover {
        color: rgba(49,94,251,1);
    }
}
//==================================================================================
.header {
    height: 100px;
    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    // .header__left

    &__left {
        display: flex;
        align-items: center;
    }

    // .header__logo

    &__logo {
        flex: 0 0 120.71px;
        margin: 0 35px 0 0;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
        }
    }

    // .header__menu

    &__menu {
    }

    // .header__burger

    &__burger {
    }

    // .header__right

    &__right {
    }

    // .header__iconbar

    &__iconbar {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__icon {
        margin: 0 10px 0 0;
    }
}
.menu-header {

    // .menu__body

    &__body {
    }

    // .menu__list

    &__list {
        display: flex;
        align-items: center;
        padding: 0;
    }

    // .menu__link

    &__link {
        font-size: 16px;
        line-height: 20px;
        color: rgba(31, 36, 49, 1);
        margin: 0 35px 0 0;
        transition: color .3s ease-in 0s;
        &:hover {
            color: rgba(49,94,251,1);
        }
    }
}